.App {
  text-align: center;
}

.noteMenu {
  display: flex;
  padding: 1em;
}

.noteMenu button {
    display : inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size: large;
    color: #000000;
    background-color:#4effe7;
    text-align:center;
    transition: all 0.2s;
  }

  .noteMenu button:hover {
    background-color:#40c6b4;
  }

  @media all and (max-width:30em){
    .noteMenu button {
      display: block;
      margin: 0.2em auto;
    }
  }