body {
    display: flex;
    justify-content: center;
    background-color: #2B3134;
}

.app {
    background-color: whitesmoke;
    min-height: 40rem;
    margin: 3rem;
    padding: 15px;
    border-radius: 4%;
    max-width: 600px;
}

.controls {

}

.instrument {
    display: block;
}

.bracket {
    height: 100px;
    margin: 10px 0 0 0;
}

.chimes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.chime {
    display: block;
    max-width: 150px;
    margin: -1px 0 0 0;
}

.noteMenu {
    display: inline-flex;
}

.noteButtons button {
    display: inline-flex;
    background-color: aqua;
    color: black;
    width: 3em;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}

.octaveButtons button {
    display: inline-flex;
    background-color: aqua;
    color: black;
    width: 3em;
    padding: 6px 20px;
    text-align: center;
    font-size: 16px;
}

.octaveDisplay {

}

.clearButton {
    display: inline-flex;
    background-color: aqua;
    color: black;
    width: 4em;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}