body {
    display: flex;
    justify-content: center;
}

.app {
    height: 90%;
    margin: 5% 0;
    padding: 5px 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.controls {
    display: block;
    margin: 0 0 1em 0;
}

.dropdowns .menu {
    margin: .5em 0;
    font-size: smaller;
}

.noteMenu {
    display: flex;
}

.noteButtons button {
    font-size: 16px;
    font-weight: 600;
    margin: .1rem;
    border-radius: 15%;
    width: 15%;
    text-align: center;
}

.octaveMenu {
    display:flex;
    flex-direction: row;
    align-content: space-between;
}

.octaveButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.octaveButtons button {
    font-size: 12px;
    margin: .1rem;
    height: 35%;
    border-radius: 15%;
    width: 28px;
    display: flex;
}

.octaveDisplay {
    font-size: 10px;
    padding: .2rem;
    margin: auto;
}

.instructions {
    margin: auto;
    margin-bottom: .5rem;
    width: 99%;
    border: solid;
    border-radius: 15%;
}

.instructions p {
    padding: 5px 10px;
    font-size: smaller;
}

.instrument {
    display: block;
    transform: scale(1);
    margin: auto;
}


.chimes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    max-width: 600px;
    margin: auto;
}

.chime {
    display: block;
    max-width: 150px;
    margin: -3px 0 0 0;
}


@media ( min-width: 768px ) {
    .app {
        height: 55rem;
        margin: 3rem 0;
        width: 600px;
        padding: 15px 30px;
    }
    
    .dropdowns .menu {
        margin: 1em 0;
        font-size: medium;
    }

    .noteButtons button {
        width: 14%;
        border-radius: 20%;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 24px;
        margin: .2rem;
    }

    .octaveButtons button {
        width: 100%;
        height: 30%;
        border-radius: 20%;
        font-size: 24px;
        text-align: center;
    }

    .octaveDisplay {
        font-size: medium;
        padding: .4rem;
        margin: auto;
    }

    .instructions {
        width: 70%;
        margin-top: 5rem;
    }

    .instructions p {
        padding: 15px 20px;
        font-size: larger;
    }

    .instrument {
        display: block;
        transform: scale(1);
        margin: auto;
    }

    .bracket {
        height: 100px;
    }
}