body {
    display: flex;
    justify-content: center;
    background-color: #2B3134;
}

.app {
    background-color: whitesmoke;
    height: 55rem;
    margin: 3rem;
    padding: 15px;
    border-radius: 4%;
    width: 300px;
}

.controls {
    display: block;
    margin: 0 0 1em 0;
}

.dropdowns {
}

.instructions {
    margin: auto;
    width: 70%;
    border: solid;
    border-radius: 15%;
}

.instructions p {
    padding: 10px 15px 10px 15px;
}
.instrument {
    display: block;
}

.bracket {
    height: 100px;
}

.chimes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.chime {
    display: block;
    max-width: 150px;
    margin: -1px 0 0 0;
}

.noteMenu {
    display: inline-flex;
}

.noteButtons button {

}

.octaveButtons button {

}

.octaveDisplay {

}

@media ( min-width: 768px ) {
    .app {
        width: 600px;
    }
}